.contacts{
    margin-top: 7rem;
    margin-bottom: 3rem;
}
.contact-items{    
    text-align: center;
    padding: 3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-top: 3rem;
}