.footer{
    background-color: black;
    color: white;
}
.footerLogo{
    width: 7rem;
    height: 7rem;
    border-radius: 10%;
    margin-bottom: 20px;
}
.footerItem{
    font: 20px;
    padding: 3rem 2rem;
    text-align: left;
}
.footer-txt{
    padding-top: 3px;
    padding-bottom: 2rem;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: smaller;
    list-style: none;
    color: rgb(181, 179, 179);
} 
.title-line{
    width: 3rem;     
}
.lint{
    height: 2px;
}



